.”input-row” {
    margin-bottom: 10px;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    gap: 100px;
    margin: 0 auto;
}

.info__content-wrapper {
    border: 1px solid #000;
    min-width: 300px;
    padding: 10px;
}

#myForm {
    padding-top: 20px;
}